<div class="row">
  <div *ngFor="let car of cars" class="col-md-4">
    <div class="card">
      <div class="card-header card-chart card-header-warning">
        <img class="card-img" [src]="car.carImage" alt="Card image">
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ car.carName }}</h4>
        <p class="card-category"><span class="text-success"> {{car.carPrice}}  </span> Dinars</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          <button type="button" class="btn btn-warning btn-round" [routerLink]="['/cars',car.carId]">View More</button>
        </div>
      </div>
    </div>
  </div>
</div>
