<nav class="navbar navbar-dark bg-info navbar-expand-lg ">
  <a class="navbar-brand" href="#">Car Rent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active current">
        <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item " routerLinkActive="active current">
        <a class="nav-link" routerLink="/cars">Cars</a>
      </li>
      <li class="nav-item " routerLinkActive="active current">
        <a class="nav-link" routerLink="/dauphine">Dauphine</a>
      </li>
      <li class="nav-item " routerLinkActive="active current">
        <a class="nav-link" routerLink="/jsonForm">Json Form</a>
      </li>
    </ul>
  </div>
</nav>

